body {
    /*Background*/
    background-color: rgb(41, 41, 41);
    /*Text*/
    color: blanchedalmond;
    text-align: center;
}

section{
    /*Background*/
    background: rgb(73,73,73);
    /*Shape*/
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    width: 400px;
    /*Text*/
    color: blanchedalmond;
    text-align: center;
    /*Effect*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}
header{
    /*Text*/
    color: blanchedalmond;
    text-align: center;
}
footer{
    /*Text*/
    color: blanchedalmond;
    text-align: center;
    font-style: italic;
}

select[id= lista]{
    align-items: baseline;
    width: 150px;
    border-radius: 10px;
    direction: ltr;
    padding-left: 0;
}

p[id = list_form]{
    text-align: left;
}

input[id = number]:out-of-range{
    border-color: rgb(255, 0, 51);
}

div[id = resposta]{
    text-align: left;
    
}
